// Set up asset pipeline for Forge
$forge-path: "/assets/vendor/forge/assets/";

// Import Forge modules
@import "../../../node_modules/@dosomething/forge/scss/forge";

// Local patterns
@import "patterns/errors";
@import "patterns/tables";
@import "patterns/key-value";
@import "patterns/status";

.container__split {
  display: inline-block;
  padding: 16px;
}

.button {
  &.-danger {
    background-color: #ff4747;

    &:hover {
      background-color: #ff4747;
    }
  }
}

