.validation-error {
  color: #ff4747;
}


/**
 * Table
 */

$small: "(max-width: 580px)";

// Media query mixin
@mixin media($breakpoint) {
  @media #{$breakpoint} {
    @content;
  }
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table {
  display: table;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  border-collapse: separate; /* needed to display border radius on table */
}

.table-header {
  background: #ffffff ;
  color: #4e2b63 ;
  font-weight: 700;
  text-align: left;

  @include media($small) {
    white-space: nowrap;
  }
}

.table-row {
  display: table-row;
  background: white;


  &:nth-of-type(odd) {
    background: #efefef;
  }
}

.table-cell {
  padding: 6px 12px;
  display: table-cell;

  @include media($small) {
    white-space: nowrap;
  }
}
